li {
  list-style: none;
  margin: 10px;
}

#content-left {
  font-family: Comic Sans, Comic Sans MS, cursive;
}

#yw0 {
  padding-left: 0;
}


#yw0 li a {
  text-decoration: none;
  font-size: 20px;
}

.item-key {
  float: left;
  width: 100px;
}

.form-label {
  width: 200px;
  float: left;
}

.row input[type="text"], .row input[type="password"]{
  width: 400px;
  height:25px;
  font-size: 20px;
  border: 1px solid #E0E0E0;
}

.row textarea {
  width: 400px;
  height:125px;
  font-size: 20px;
  border: 1px solid #E0E0E0;
}